@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  @apply max-w-[1540px] mx-auto 
}

@keyframes textReveal {
  0% {
    width: 0;
    
  }
  
  100% {
    width: 100%;
    
  }
}

.animate-text {
  animation: textReveal 3s steps(30) forwards;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}



