@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  @apply max-w-[1540px] mx-auto;
}

@keyframes textReveal {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.animate-text {
  animation: textReveal 3s steps(30) forwards;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-right {
  animation: slideFromRight 0.5s ease-out forwards;
}

.animate-slide-left {
  animation: slideFromLeft 1s ease-out forwards;
}

@keyframes bgReveal {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}

.animate-bg {
  animation: bgReveal 3s ease-out forwards;
  background-image: linear-gradient(to right, #c961de, #2954a3);
  background-repeat: no-repeat;
  background-size: 0% 100%;
}
